/* Custom Toggle Switch Styles */
.toggle-checkbox:checked {
  right: 0;
  border-color: #48bb78; /* tailwind green-500 */
}
.toggle-checkbox {
  transition: right 0.2s ease-in;
  left: 0;
}
.toggle-checkbox:checked + .toggle-label {
    background-color: #48bb78; /* tailwind green-500 */
}

/* SVG Path Animation */
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.6);
  align-items: center;
  justify-content: center;
}
.modal.is-open {
  display: flex;
}

/* To prevent scroll on body when modal is open */
body.modal-open {
  overflow: hidden;
}
